<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JosaaHelper">
        <activity
            android:name=".DetailCollegeActivity"
            android:exported="false" />
        <activity
            android:name=".CollegeInputSecond"
            android:exported="false" />
        <activity
            android:name=".CollegeProfileActivity"
            android:exported="false" />
        <activity
            android:name=".CollegeOutputsActivity"
            android:exported="false" />
        <activity
            android:name=".RankOutputsActivity"
            android:exported="false" />
        <activity
            android:name=".CollegeInputsActivity"
            android:exported="false" />
        <activity
            android:name=".RankInputsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>